// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

//Form
@import "forms";

html {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
}
body {
    width: 100%;
    min-height: 100%;
    //background: radial-gradient( 68.62% 312.3% at 58.65% 53.06%, rgba(0, 90, 174, 0.88) 0%, rgba(48, 114, 214, 0) 100%);
    background-color: #005aae;
}
h1 {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    line-height: 36px;
    font-weight: 900;
}
